* {
    margin: 0;
    overflow-x: 0;
}

.title {
    text-align: center;
    font-size: 32px;
    font-family: Consolas;
    margin-top: 10vh;
    text-shadow: 2px 4px 8px rgb(168, 168, 168);
}

.lang_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
.lang_container h1 {
    font: 18px;
    font-family: Consolas;
}
.lang_container input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #121212;   
    width: 100px;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap : 2vh;
}

.text_container h1 {
    font-size: 18px;
    font-family: Consolas;
}

.text_container input {

    border: 0;
    outline: 0;
    border-bottom: 1px solid #121212;

}
.text_container a {

    text-decoration: underline;
    margin-top: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #121212;


}

.result_container {

    display: flex;
    gap: 20vh;
    justify-content: center;
    align-items: center;
    font-family: Consolas;
    margin-top: 8vh;

}

.result_ans_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    width: 200px;
}